<!doctype html>
<html lang="en">
<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="index.js"></script>
<script src="post.js"></script>

    <head>
        <title>TL;DR</title>
        <link rel="shortcut icon" type="image/jpg" href="https://media.discordapp.net/attachments/910645752815054861/917599211762122841/D.png"/>
        <nav class="topNav">
            <h1>TL;DR</h1>
        </nav>
    </head>
    <main>
      {{{body}}}
    </main>
</html>
